{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('longread', longread_id=longread.id) }}">Back</a>
    <h1 style="width: 100%">
        {% block title %} Edit {{ longread.name }} longread details
        {% endblock %}
    </h1>
    <form method="post" enctype="multipart/form-data">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name"
                   value={{ longread.name }}
                   placeholder="Name">
            </input>
        </p>

        <p>
        <label for="description">Description</label>
        <br>
        <textarea name="description"
                  placeholder="Description"
                  rows="5"
                  cols="20"
                  >{{ longread.description }}</textarea>
        </p>

        <input type="file" id="myFile" name="uploaded-file" accept=".jpg">

        <p>
        <label for="text">Text</label>
        <br>
        <textarea name="text"
                  placeholder="Text"
                  rows="15"
                  cols="60"
                  >{{ longread.text }}</textarea>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}